<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @session.user_name %>
</p>

<p>
  <strong>Logout by:</strong>
  <%= @session.logout_by %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
